*{
	padding: 0;
	margin: 0;
}

body{
	font-family: arial;
}

body{
	text-align: center;
}

body {
    background-image: url("HawaiBG.JPG");
    background-color: #cccccc;
}

p {
    border-style: dotted;
    border-width: 3px;
    width: 400px;
    margin: 0 auto;
}

img {
	border-radius: 50%
}

ul {
	list-style: none;
	border-style: dotted;
    border-width: 3px;
    width: 400px;
    margin: 0 auto;
}

